.contactContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 75vh;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.contactTitle {
  font-size: 2.5rem;
  text-align: center;
  padding: 0.25rem 1rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-small);
  text-shadow: var(--shadow-small);
  background-color: var(--primary);
  font-family: var(--font-oswald), sans-serif;
}

/* Description */
.contactDescription {
  line-height: 1.35;
  max-width: 1000px;
  font-size: 1.15rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

/* CAPTCHA form */
.captchaTitle {
  font-size: 2rem;
  text-align: center;
  transition: 0.3s ease;
  margin-bottom: 0.5rem;
}

.captchaDescription {
  font-size: 1.15rem;
  text-align: center;
  transition: 0.3s ease;
  margin-bottom: 0.5rem;
}

.captchaQuestion p {
  font-size: 1.15rem;
  text-align: center;
  transition: 0.3s ease;
  margin-bottom: 0.5rem;
}

.errorMessage {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary);
  transition: 0.3s ease;
}

/* Email form */
.formContainer {
  width: 100%;
  padding: 1.25rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-small);
  background-color: var(--header-bg-color);
}

form {
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
}

.formGroup {
  gap: 0.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: var(--font-oswald), sans-serif;
}

/* Subject & message field */
.formControl {
  width: 100%;
  font-size: 1.25rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  color: var(--text-primary);
  padding: 2rem 1rem 0.75rem;
  box-shadow: var(--shadow-small);
  border: 2px solid var(--bg-color);
  background-color: var(--bg-color);
}

.formControl:focus {
  box-shadow: var(--shadow-large);
  border: 2px solid var(--primary);
}

.formControl::placeholder {
  opacity: 0;
}

textarea.formControl {
  height: 200px;
  resize: vertical;
}

label {
  top: 0;
  left: 0;
  padding: 1rem;
  font-weight: 500;
  position: absolute;
  font-size: 1.25rem;
  pointer-events: none;
  transition: 0.3s ease;
  color: var(--text-primary);
}

.formControl:focus ~ label,
.formControl:not(:placeholder-shown) ~ label {
  opacity: 0.95;
  color: var(--text-secondary);
  transform: scale(0.85) translateX(-0.5rem) translateY(-0.5rem);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  caret-color: var(--text-primary);
  transition: background-color 9999s ease-out 0s;
  box-shadow: 0 0 0 30px var(--bg-color) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
}

/* Submit button */
.submitBtn {
  gap: 1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  padding: 0.5rem 1.25rem;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-small);
  text-shadow: var(--shadow-small);
  background-color: var(--primary);
  font-family: var(--font-oswald), sans-serif;
}

.submitBtn:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-large);
  text-shadow: var(--shadow-large);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .contactTitle {
    font-size: 2.25rem;
  }

  .contactDescription {
    font-size: 1rem;
  }

  .captchaTitle {
    font-size: 1.75rem;
  }

  .captchaDescription {
    font-size: 1rem;
  }

  .captchaQuestion p {
    font-size: 1.15rem;
  }

  .errorMessage {
    font-size: 1.25rem;
  }

  .formContainer {
    padding: 1rem;
  }

  form {
    gap: 1rem;
  }

  .formControl {
    font-size: 1.15rem;
  }

  textarea.formControl {
    height: 175px;
  }

  label {
    font-size: 1.15rem;
  }

  .submitBtn {
    font-size: 1.75rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .contactTitle {
    font-size: 2rem;
  }

  .captchaTitle {
    font-size: 1.5rem;
  }

  .captchaQuestion p {
    font-size: 1rem;
  }

  .errorMessage {
    font-size: 1.15rem;
  }

  .formContainer {
    padding: 0.75rem;
  }

  form {
    gap: 0.75rem;
  }

  .formControl {
    font-size: 1rem;
    border: 1px solid var(--bg-color);
  }

  textarea.formControl {
    height: 150px;
  }

  label {
    font-size: 1rem;
  }

  .formControl:focus {
    border: 1px solid var(--primary);
  }

  .submitBtn {
    gap: 1rem;
    font-size: 1.35rem;
  }

  .submitBtn:hover {
    gap: 2rem;
  }
}
