.contactContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Heading */
.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s ease-in;
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
  font-family: "Oswald", sans-serif;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

/* Introduction */
.introduction {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* CAPTCHA form */
.captchaTitle {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-in;
}

.captchaDescription {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-in;
}

.captchaQuestion p {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: 0.3s ease-in;
}

.errorMessage {
  font-size: 1.5rem;
  margin-top: 1.75rem;
  color: var(--primary);
  transition: 0.3s ease-in;
}

/* Email form */
.formContainer {
  width: 100%;
  padding: 1.25rem;
  border-radius: 0.25rem;
  background-color: var(--header-bg-color);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.formGroup {
  gap: 0.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
}

/* Subject & message field */
.formControl {
  width: 100%;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
  padding: 2.25rem 0.75rem 0.75rem;
  font-family: "Inter", sans-serif;
  border: 2px solid var(--bg-color);
  background-color: var(--bg-color);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.formControl::placeholder {
  opacity: 0;
}

textarea.formControl {
  height: 200px;
  resize: vertical;
}

.formControl:focus {
  border: 2px solid var(--primary);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

label {
  top: 0;
  left: 0;
  padding: 1rem;
  font-weight: 500;
  position: absolute;
  font-size: 1.25rem;
  pointer-events: none;
  color: var(--text-primary);
  transition: 0.3s ease-in-out;
}

.formControl:focus ~ label,
.formControl:not(:placeholder-shown) ~ label {
  opacity: 0.95;
  transform: scale(0.85) translateX(-0.5rem) translateY(-0.6rem);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  caret-color: var(--text-primary);
  transition: background-color 9999s ease-out 0s;
  box-shadow: 0 0 0 30px var(--bg-color) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
}

/* Submit button */
.submitBtn {
  display: flex;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.75rem;
  align-items: center;
  border-radius: 0.25rem;
  justify-content: center;
  transition: 0.3s ease-in;
  color: var(--text-primary);
  border: 2px solid var(--primary);
  font-family: "Oswald", sans-serif;
  background-color: var(--header-bg-color);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.submitBtn:hover {
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.submitBtn i {
  margin-left: 0.75rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
}

.submitBtn:hover i {
  margin-left: 1.25rem;
  color: hsl(0, 0%, 100%);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }

  .introduction {
    font-size: 1.15rem;
  }

  .captchaTitle {
    font-size: 2rem;
  }

  .captchaDescription {
    font-size: 1.15rem;
  }

  .captchaQuestion p {
    font-size: 1.25rem;
  }

  .errorMessage {
    font-size: 1.25rem;
  }

  .formControl {
    padding: 2.15rem 0.75rem 0.75rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .heading {
    font-size: 1.75rem;
  }

  .introduction {
    font-size: 1rem;
  }

  .captchaTitle {
    font-size: 1.75rem;
  }

  .captchaDescription {
    font-size: 1rem;
  }

  .captchaQuestion p {
    font-size: 1.15rem;
  }

  .errorMessage {
    font-size: 1.15rem;
  }

  .formControl {
    font-size: 1.15rem;
    padding: 1.85rem 0.75rem 0.75rem;
  }

  label {
    font-size: 1.15rem;
  }

  .submitBtn {
    font-size: 1.25rem;
  }
}
