.homeContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Remove top padding from home banner */
main {
  padding-top: 0 !important;
}

/* Home content */
.contentSection {
  width: 100%;
  padding: 2rem;
  transition: 0.3s ease-in;
}

.contentWrapper {
  gap: 2rem;
  display: grid;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
  grid-template-columns: 1fr 1fr;
}

/* Text content */
.textContent {
  text-align: left;
  align-self: flex-start;
}

.contentTitle {
  font-size: 2.75rem;
  font-style: italic;
  margin-bottom: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s ease-in;
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
  font-family: "Oswald", sans-serif;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.contentText {
  line-height: 1.5;
  font-size: 1.25rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

.contentText p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Image */
.imageContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pigsImage {
  width: 100%;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  border: 2px solid var(--primary);
  background-color: var(--header-bg-color);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.pigsImage:hover {
  transform: scale(1.025);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

/* Information banner */
.informationBanner {
  width: 100vw;
  padding: 1.5rem;
  transition: 0.3s ease-in;
  background-color: var(--primary);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.informationBanner:hover {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.bannerContent {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}

.infoItem {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: hsl(0, 0%, 100%);
}

.infoItem i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in;
}

.infoItem h3 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  font-family: "Oswald", sans-serif;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.infoItem a {
  font-size: 1.15rem;
  transition: 0.3s ease-in;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.infoItem a:hover {
  text-decoration: underline;
}

.infoItem:hover i {
  transform: translateY(-3px) scale(1.15);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .contentSection {
    padding: 1.75rem;
  }

  .contentWrapper {
    gap: 1.75rem;
    grid-template-columns: 1fr;
  }

  .contentTitle {
    font-size: 2.25rem;
  }

  .contentText {
    font-size: 1.15rem;
  }

  .informationBanner {
    padding: 1rem;
  }

  .infoItem i {
    font-size: 1.5rem;
  }

  .infoItem h3 {
    font-size: 1.25rem;
  }

  .infoItem a {
    font-size: 1rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .contentSection {
    padding: 1.5rem;
  }

  .contentWrapper {
    gap: 1.5rem;
  }

  .contentTitle {
    font-size: 2rem;
    padding: 0.75rem 1rem;
  }

  .contentText {
    font-size: 1rem;
  }

  .informationBanner {
    padding: 1.5rem;
  }

  .bannerContent {
    gap: 1.5rem;
    flex-direction: column;
  }

  .infoItem i {
    font-size: 1.75rem;
  }

  .infoItem h3 {
    font-size: 1.5rem;
  }

  .infoItem a {
    max-width: 200px;
    font-size: 1.15rem;
  }
}
