.homeContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Information section */
.infoSection {
  gap: 2rem;
  display: grid;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 2rem;
  transition: 0.3s ease-in;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}

.textContent {
  text-align: left;
}

/* Title */
.contentTitle {
  font-size: 2.25rem;
  font-style: italic;
  margin-bottom: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s ease-in;
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
  font-family: "Oswald", sans-serif;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

/* Text */
.contentText {
  line-height: 1.5;
  font-size: 1.15rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

.contentText p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Image */
.imageContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pigsImage {
  width: 60%;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  border: 2px solid var(--primary);
  background-color: var(--header-bg-color);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.pigsImage:hover {
  transform: scale(1.025);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

/* Information banner */
.informationBanner {
  width: 100vw;
  padding: 1.25rem;
  margin-bottom: -2rem;
  transition: 0.3s ease-in;
  background-color: var(--primary);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.informationBanner:hover {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.bannerContent {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}

.infoItem {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: hsl(0, 0%, 100%);
}

/* Info item icon */
.infoItem i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Info item heading */
.infoItem h3 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  font-family: "Oswald", sans-serif;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Info item link */
.infoItem a {
  font-size: 1.15rem;
  transition: 0.3s ease-in;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.infoItem a:hover {
  text-decoration: underline;
}

.infoItem:hover i {
  transform: translateY(-3px) scale(1.15);
}

@media (max-width: 950px) {
  .infoSection {
    grid-template-columns: 1fr;
  }

  .contentTitle {
    display: inline-block;
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .infoSection {
    gap: 1.75rem;
  }

  .contentTitle {
    font-size: 2rem;
  }

  .contentText {
    font-size: 1rem;
  }

  .informationBanner {
    padding: 1rem;
    margin-bottom: -1.75rem;
  }

  .infoItem i {
    font-size: 1.5rem;
  }

  .infoItem h3 {
    font-size: 1.15rem;
  }

  .infoItem a {
    font-size: 1rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .infoSection {
    gap: 1.5rem;
  }

  .contentTitle {
    font-size: 1.75rem;
  }

  .informationBanner {
    padding: 0.85rem 0rem;
    margin-bottom: -1.5rem;
  }

  .infoItem i {
    font-size: 1.25rem;
  }

  .infoItem h3 {
    font-size: 1rem;
  }

  .infoItem a {
    font-size: 0.85rem;
  }
}
