.pageNotFoundContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 50vh;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.pageNotFoundTitle {
  font-size: 2.5rem;
  text-align: center;
  padding: 0.25rem 1rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-small);
  text-shadow: var(--shadow-small);
  background-color: var(--primary);
  font-family: var(--font-oswald), sans-serif;
}

/* Description */
.pageNotFoundDescription {
  line-height: 1.35;
  max-width: 1000px;
  font-size: 1.15rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

/* Back to home page */
.homeButton {
  font-weight: 700;
  font-size: 1.75rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-small);
  text-shadow: var(--shadow-small);
  background-color: var(--primary);
  font-family: var(--font-oswald), sans-serif;
}

.homeButton:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-large);
  text-shadow: var(--shadow-large);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .pageNotFoundTitle {
    font-size: 2.25rem;
  }

  .pageNotFoundDescription {
    font-size: 1rem;
  }

  .homeButton {
    font-size: 1.5rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .pageNotFoundTitle {
    font-size: 2rem;
  }

  .homeButton {
    font-size: 1.25rem;
  }
}
