/* Oswald */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Light theme */
html[data-theme="light"] {
  --bg-color: hsl(0, 0%, 95%);
  --primary: hsl(3, 76%, 50%);
  --primary-dark: hsl(3, 76%, 40%);
  --text-primary: hsl(0, 0%, 5%);
  --text-secondary: hsl(0, 0%, 15%);
  --header-bg-color: hsl(0, 0%, 100%);
  --footer-bg-color: hsl(0, 0%, 100%);
  --shadow-small: 3px 3px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-large: 3px 3px 3px hsla(0, 0%, 0%, 0.25);
}

/* Dark theme */
html[data-theme="dark"] {
  --bg-color: hsl(0, 0%, 10%);
  --primary: hsl(3, 76%, 50%);
  --primary-dark: hsl(3, 76%, 40%);
  --text-primary: hsl(0, 0%, 90%);
  --text-secondary: hsl(0, 0%, 80%);
  --header-bg-color: hsl(0, 0%, 5%);
  --footer-bg-color: hsl(0, 0%, 5%);
  --shadow-small: 3px 3px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-large: 3px 3px 3px hsla(0, 0%, 0%, 0.25);
}

/* Buttons */
button {
  cursor: pointer;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Form elements */
input,
select,
button,
textarea {
  border: none;
  font: inherit;
  outline: none;
}

/* Media */
svg,
img,
video,
canvas,
picture {
  height: auto;
  display: block;
  max-width: 100%;
}

/* Universal reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root element */
html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* Body */
body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  color: var(--text-primary);
  background-color: var(--bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", Arial, sans-serif;
}

/* Main */
main {
  width: 100%;
  padding: 2rem;
  transition: 0.3s ease;
  background-color: var(--bg-color);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  main {
    padding: 1.75rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  main {
    padding: 1.5rem;
  }
}
