.footer {
  width: 100%;
  padding: 2rem;
  transition: 0.3s ease;
  background-color: var(--footer-bg-color);
}

.footerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.topContainer {
  text-align: center;
}

/* Logo */
.logo {
  width: 165px;
  height: auto;
  margin: 0 auto;
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
}

/* Legal disclaimer */
.legalDisclaimer {
  font-size: 1rem;
  max-width: 1000px;
  transition: 0.3s ease;
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
}

/* Copyright */
.copyright {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s ease;
}

/* Separator */
.separator {
  width: 100%;
  height: 2px;
  border: none;
  margin: 0.75rem 0rem;
  background-color: var(--primary);
}

.bottomContainer {
  gap: 1rem;
  width: 100%;
  display: flex;
  transition: 0.3s ease;
  align-items: flex-start;
  justify-content: space-between;
}

.siteNavigation,
.socialLinks,
.legalPages,
.contactInfo {
  display: flex;
  transition: 0.3s ease;
  flex-direction: column;
}

/* Nav headers */
.navHeader {
  font-weight: 500;
  font-size: 1.25rem;
  transition: 0.3s ease;
  font-family: "Oswald", sans-serif;
}

/* Nav items */
.navItems {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.navItems a {
  position: relative;
  font-size: 1.15rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.navItems a:hover {
  color: var(--text-primary);
  transform: translateX(5px);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .footer {
    padding: 1.75rem;
  }

  .logo {
    width: 150px;
  }

  .bottomContainer {
    gap: 0.75rem;
    flex-direction: column;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .footer {
    padding: 1.5rem;
  }

  .logo {
    width: 125px;
  }

  .legalDisclaimer {
    font-size: 0.95rem;
  }

  .copyright {
    font-size: 0.95rem;
  }

  .navHeader {
    font-size: 1.15rem;
  }

  .navItems a {
    font-size: 1rem;
  }
}
