.footerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.topContainer {
  text-align: center;
  margin-bottom: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */
.logoContainer img {
  width: 200px;
  transition: 0.3s ease-in;
}

/* Legal disclaimer */
.legalDisclaimer {
  max-width: 1000px;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

/* Copyright */
.copyright {
  font-weight: 500;
  font-size: 1.15rem;
  transition: 0.3s ease-in;
}

/* Seperator */
.seperator {
  width: 100%;
  height: 2px;
  border: none;
  margin-bottom: 0.75rem;
  background-color: var(--text-secondary);
}

.bottomContainer {
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.siteNavigation,
.socialLinks,
.legalPages,
.contactInfo {
  display: flex;
  flex-direction: column;
}

/* Nav headers */
.navHeader {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
}

/* Nav items */
.navItems {
  gap: 0.25rem;
  display: flex;
  font-weight: 400;
  flex-direction: column;
}

.navItems a {
  position: relative;
  font-size: 1.25rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

.navItems a:hover {
  color: var(--text-primary);
  transform: translateX(5px);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .logoContainer img {
    width: 180px;
    margin-bottom: 0.15rem;
  }

  .legalDisclaimer {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  .copyright {
    font-size: 1rem;
  }

  .bottomContainer {
    gap: 0rem;
    flex-direction: column;
  }

  .siteNavigation:not(:last-child),
  .socialLinks:not(:last-child),
  .legalPages:not(:last-child),
  .contactInfo:not(:last-child) {
    margin-bottom: 1rem;
  }

  .navHeader {
    font-size: 1.25rem;
  }

  .navItems a {
    font-size: 1.15rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .logoContainer img {
    width: 160px;
  }

  .legalDisclaimer {
    margin-bottom: 0.5rem;
  }

  .copyright {
    width: 275px;
    margin: 0 auto;
  }

  .navHeader {
    font-size: 1.15rem;
  }

  .navItems a {
    font-size: 1rem;
  }
}
